@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: Eudoxus Sans;
}
a{
    text-decoration: none; 
    color: #151411;
    justify-content: space-evenly;  
}
.nabvar{
    width: 100%;
    height: 80px;
    background-color: #fcfefe;
     display: flex; /* Định nghĩa việc sẽ use flexbox */
     justify-content: space-evenly;
     align-items: center;
}
.nabvar .nabvar-left{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 70px;
}
.nabvar-left span{
   font-size: 20px;
   font-weight: 700;
   color: #151411;
}
.nabvar-center {
    display: flex;
    gap: 60px; 
    margin: auto;
    font-size: 18px; 
    font-weight: 500; 
}
.nabvar-right{
    display: flex;
    gap: 24px; 
    color: #151411;
}
.nabvar-right span{
    position: relative;
    right: 170px;
}
.txt{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    position: relative;
    top: 60px;
}
.txt-1{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 70px;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 320px;
}
.img{
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 130px;
}
img span{
    position: absolute;
    width: 1000px;
    height: 100px;
}
.big{
    width: 400px;
    height: 50px;
    box-shadow: 0px 4px 80px;
    color:  rgba(175, 173, 181, 0.20);
    background: white;
    position: absolute;
    left: 422px;
    bottom: 145px;
}
.big .big-1{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    gap: 18px;
    color: #A6D8D2;
}
.big-1 span{
    color: #AFADB5;
    font-size: 18px;
    font-weight: 500;
}
.button{
    width: 80px;
    background-color: #518581;
    color: white;
    border: 4px solid #518581;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    left: 310px;
    top: 14px;
}